site_name: VAST Go Client
site_url: ""
site_dir: mkdocs_files
theme:
  name: material
  logo: images/logo.png
  favicon: images/logo.png
  features:
    - toc.integrate
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
nav:
  - Overview: index.md
  - Configuration: configuration.md
  - VMSRest: vmsrest.md
  - Session: session.md
  - Response: response.md
  - Errors: errors.md

plugins:
  - search
  - section-index

markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
